html, body, span, h5, h6,
ul, li, nav, header, footer, article, figure {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h2{
    font-weight: bold;
    margin-top: 0.8rem;
}

header div a h2{
    font-size: 1.5rem;
}
